.jumbotron {
  text-align: center;
  background-color: #c9deff;
}


p {
  padding: 5%;
}

/* .col-md-4 {
  padding-bottom: 5%;
} */

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
